h1 {
  background-color: beige;
}
.con {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bulb {
  height: 350px;
  width: 350px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid black;
}
.btn {
  border: 2px solid black;
  border-radius: 25px;
  height: fit-conteblack;
}

.h4 {
  color: salmon;
}

.container{
  border: 2px solid black;
  padding: 100px;
}
.child-container{
  border: 2px solid black;
  padding: 100px;
}
.child{
  border: 2px solid black;
  padding: 100px;
}

.inp{

}
